@import "../../utilities/utility-classes.scss";

.CardContent {
  flex: 1 1 calc(50%-20px);
  max-width: 25rem;
  min-width: 20rem;
  position: relative;
  transition: $basic-transition;
  margin: 1rem;

  &:hover {
    transform: translateY(-1%);
  }

  @include Flex(center, flex-start, column);

  .CardPoster {
    width: 100%;
    box-shadow: $box-shadow;

    img {
      display: block;
      width: 100%;
    }
  }

  .CardText {
    display: none;
  }
}
